name: gsheet.action test
on: push

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Newly added fields"
          printf ${{ secrets.GSHEETS_PRIVATE_KEY }}
          printf ${{ secrets.GSHEETS_FULL_PRIVATE_KEY }}
      - id: 'update_worksheet'
        uses: jroehl/gsheet.action@v1.0.0 # you can specify '@release' to always have the latest changes
        with:
          spreadsheetId: 1q4xe6hiAIVske50DorSHsMtkslzEJMuxwJtcxQL5RaM
          commands: | # list of commands, specified as a valid JSON string
            [
              { "command": "addWorksheet", "args": { "worksheetTitle": "new sheet" }},
              { "command": "updateData", "args": { "data": [["A1", "A2", "A3"]] }}
            ]
        env:
          GSHEET_CLIENT_EMAIL: ${{ secrets.MAIL_USERNAME }}
          GSHEET_PRIVATE_KEY: ${{ secrets.GSHEETS_FULL_PRIVATE_KEY }}
      - name: dump results
        env:
          #  the output of the action can be found in ${{ steps.update_worksheet.outputs.results }}
          RESULTS: ${{ steps.update_worksheet.outputs.results }}
        run: echo "$RESULTS" | jq
